*,*::before, *::after{
    box-sizing: border-box;
}
:root {
    --heading-font-family: 'Century Gothic', sans-serif;
    --body-font-family: 'Century Gothic', sans-serif;
    --accent-color: #048236;
}
body {
    margin: 0;
    background-color: #e4f0e9;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
    
}
.divider {
    height: 1px;
    width: 100%;
    background-color: lightgrey;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.priceComp  {
    display: flex;
    justify-content: center;
    align-items:stretch;
    width: 100%;
    margin: 10rem;
}
.priceColumn {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 10px;
}
.priceColumnPopular {
    background-color: var(--accent-color);
    box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
    color: white;
    position: relative;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
    margin-top: -1.5rem;
    padding:2rem;
    padding-top: 3.5rem;
    border-radius:10px;
}
.priceColumn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.priceColumn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.priceHeader{
    align-items:center;
    display:flex;
    flex-direction:column;
    font-family:var(--heading-font-family);
    font-weight:bold;
}

.price{
    font-size:5rem;
    display:flex;
}
.currency{
    font-size:4rem;
    margin-right:1rem;
    margin-top:0.05rem;
}
.month{
    align-self:flex-end;
    margin-bottom:1rem;
    font-size:1rem;
}
.companyName{
    text-transform:uppercase;
    font-size:1rem;
    margin-top:1rem;
    margin-bottom:0;
}
.priceColumnPopular .divider {
    background-color: #cfcfcf;
}

.feature {
    display: flex;
    align-items: center;
    margin: .5rem;
}


.mostPopular {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font-family);
    font-size: 1.5rem;
}

.button {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

.priceColumnPopular .button {
    background-color: white;
    color: var(--accent-color);
}

.button:hover, .button:focus {
    transform: scale(1.1);
}

.money{
    color:red;
    font-size:18px;
}
li {
    margin: 10px 0;
}